In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
data=pd.read_csv('student_scores.csv')
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [15]:
data.shape

(25, 2)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 528.0 bytes

In [17]:
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [18]:
data.duplicated().sum()

0

In [19]:
X=data.iloc[:,:-1].values
Y=data.iloc[:,1].values

In [20]:
X.shape

(25, 1)

In [21]:
Y.shape

(25,)

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [23]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [24]:
Y_predict=regressor.predict(X_test)
Y_predict

array([16.88414476, 33.73226078, 75.357018  , 26.79480124, 60.49103328])

In [25]:
df=pd.DataFrame({'Actual':Y_test,'Prediction':Y_predict})
df

   Actual  Prediction
0      20   16.884145
1      27   33.732261
2      69   75.357018
3      30   26.794801
4      62   60.491033

In [27]:
from sklearn import metrics
MSE=metrics.mean_squared_error(Y_test,Y_predict)
MSE

21.5987693072174

In [28]:
regressor.score(X,Y)

0.9526947647057274